.Button {
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
}

.primary {
    background-color: var(--color-accent);
    color: var(--color-on-accent);
    
    &:hover {
        background-color: var(--color-accent-hover);
    }
    
    &:active {
        background-color: var(--color-accent-active);
    }
}

.secondary {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    
    &:hover {
        color: var(--color-accent-hover);
        border-color: var(--color-accent-hover);
    }
    
    &:active {
        color: var(--color-accent-active);
        border-color: var(--color-accent-active);
    }
}

.clear {
    padding: 0;
    
    &:hover {
        opacity: 0.8;
    }
    
    &:active {
        opacity: 0.9
    }
}

.size-s {
    font: var(--font-s);
}

.size-m {
    font: var(--font-m);
}

.size-l {
    font: var(--font-l);
}

.size-xl {
    font: var(--font-xl);
}

.rounded-none {
    border-radius: 0;
}

.rounded-s {
    border-radius: 5px;
}

.rounded-m {
    border-radius: 10px;
}

.rounded-l {
    border-radius: 15px;
}

.disabled {
    cursor: not-allowed;
    background-color: var(--color-accent-disabled);
    
    &:hover, &:active {
        background-color: var(--color-accent-disabled);
    }
}